name: CI

on:
  pull_request:
  push:
    branches:
      - 'master'

jobs:
  build:
    uses: Workiva/gha-dart-oss/.github/workflows/build.yaml@v0.1.14
    with:
      sdk: stable

  checks:
    uses: Workiva/gha-dart-oss/.github/workflows/checks.yaml@v0.1.14
    with:
      sdk: stable

  unit-tests:
    uses: Workiva/gha-dart-oss/.github/workflows/test-unit.yaml@v0.1.14
    with:
      sdk: stable
